<app-header titulo="card"></app-header>

<ion-content padding>

  <ion-card mode="md" color="primary"> <!--crea bordes redondeados y forma de la tarjeta-->
    <ion-card-header> 
      <ion-card-subtitle>Subtitle</ion-card-subtitle>
      <ion-card-title>Title</ion-card-title>

    </ion-card-header>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, sit harum itaque hic iste enim optio aliquam totam. Sunt voluptatibus tenetur fugit! Quibusdam corporis amet debitis vero nobis suscipit consectetur.
    </ion-card-content>

  </ion-card>

  <ion-card>  <!--crea bordes redondeados y forma de la tarjeta-->
    <ion-item color="primary">
      <ion-icon slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>

    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga exercitationem voluptatibus necessitatibus esse id illum laboriosam doloribus fugiat maiores enim cumque distinctio molestias quam delectus similique aliquid dolore, soluta numquam?
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-img src="../../../assets/shapes.svg"> </ion-img>

  <ion-card-content>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus vel delectus ipsum, amet, officia aliquam fuga at sint tenetur repudiandae excepturi, modi in! Ipsum consectetur laboriosam veniam consequatur laudantium iure.</ion-card-content>

  </ion-card>



</ion-content>
